/*contacts*/

.contacts {

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
    }

    & a:hover,
    & a:focus {
        color: var(--accent-color);
    }
}

.contacts__item:not(:last-child) {

    @media screen and (min-width: 480px) {
        margin-right: 0;
    }

}
