/*features*/

.features {
    align-items: center;
    margin-right: auto;
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: nowrap;
        margin: -15px;
    }
}

.features__item:not(:last-child) {
    margin-right: 30px;
    @media screen and (max-width: 768px-0.02px) {
        margin-bottom: 30px;
    }
}

.features__item {
   
    @media screen and (min-width: 768px) {
        width: 354px;
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.features__link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 270px;
    background-color: var(--team-bcg);
    background-position: center;
    margin-bottom: 30px;
    @media screen and (max-width: 767.98px) {
        width: 450px;
    }
}

.features__icon {
    height: 70px;
    width: 70px;

}

.features__title {
    margin-bottom: 10px;
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    @media screen and (max-width: 767.98px) {
        text-align: center;
    }
}

.features__text {
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.7;
}