/*gallery*/

.section .gallery {
    display: flex;
    align-items: center;
}

.gallery-section {
    @media screen and (max-width: 1199.98px) {
        display: none;
    }
}
   
.container .gallery {
    margin-bottom: 0;
}

.gallery .item:not(:last-child) {
    margin-right: 30px;
}

.gallery-thumb {
    position: relative;
}

.gallery-actions {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: var(--fon-grey);
    height: 70px;
    width: 100%;
    padding-top: 27px;
    opacity: 0;
    transition: 250ms opacity var(--timing-function);
}

.gallery .item:hover .gallery-actions,
.gallery .item:focus .gallery-actions {
    opacity: 0.7;
}

.gallery-actions-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;
    color: var(--simply-white);
}