/* header */

.header {
    border-bottom: 1px solid var(--header-border);
}

.header__container {
    position: relative;
    align-items: center;
    display: flex;

    @media screen and (max-width: 767.98px) {
        height: 60px;
    }

    @media screen and (max-width: 1199.98px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        align-items: center;
        
    }
}

.header .contacts__item:not(:last-child) {
    @media screen and (min-width: 1200px) {
        margin-right: 50px;
    }
}

.header__mail,
.header__tel {
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
    text-decoration: none;
    transition: color 250ms var(--timing-function);
}

.header__icon {
    margin-right: 10px;
    fill: currentColor;
}

.header__icon:hover,
.header__icon:focus {
    fill: var(--accent-color);
}
